<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />

<script>
$(function() {
var current_plate=null;
var suggestions=null;
var veg_list=null;

$("toshow").hide();

$("#show_it").click(function(){
	
	
	$.ajax({
  		type: "GET",
  		url: "https://api.mongolab.com/api/1/databases/smart_cut/collections/all_veg?apiKey=NUpoBzUAwroA3Q58Xz_YRzjUXL0UtvZK",
  		success: function (data) {
        alert(data);}
	});
	alert("HI");
});

var $select_veg = $('.select_veg');
$select_veg.on('click', function (e) {
        var addressValue = $(this).attr("href");
        alert(addressValue );
});


function count() {

       		$.get("https://api.mongolab.com/api/1/databases/smart_cut/collections/all_veg?s={'type':1}&apiKey=NUpoBzUAwroA3Q58Xz_YRzjUXL0UtvZK",function(data,status){
  			 veg_list=data;
  			 });
  			 	var counter=1;
      		for(var one_data in veg_list) {
      		if(counter==1){
      		$("#vegetables span").html('Vegetable List: <a id="myveg" class="select_veg" href="#" name="'+veg_list[one_data].type+'">'+veg_list[one_data].type+'</a> &nbsp');
      			counter++;} else {
      		$("#vegetables span").append('<a id="myveg" class="select_veg" href="#" name="'+veg_list[one_data].type+'">'+veg_list[one_data].type+'</a> &nbsp');
      							 }
      		}
      		
      		
      		
      		$.get("http://data.sparkfun.com/output/wpOmd69lmRil8zbd07pb.json",function(data,status){
    		//alert("Data: " + data + "\nStatus: " + status);
  			 current_plate=data;
  			 
  			 });
 			var counters=1;
 			for(var key in current_plate) {
			if(counters==1)
			{$("#content span").html('<table style="width:30%;" border="1">'+
			'<tr><td style="word-wrap:break-word;width:70%;padding-left: 50px;">'+current_plate[key].ingredient +'</td><td style="word-wrap:break-word;width:30%;padding-left: 50px;">'+current_plate[key].weight+'</td></tr></table>'); counters++;}
			else{$("#content span").append('<table style="width:30%;" border="1"><tr><td style="word-wrap:break-word;width:70%;padding-left: 50px;">'+current_plate[key].ingredient +'</td><td style="word-wrap:break-word;width:30%;padding-left: 50px;">'+current_plate[key].weight+'</td></tr></table>'); }

		    } 
 			
 			$.get("http://api.pearson.com:80/kitchen-manager/v1/recipes?ingredients-all=onion&ingredients-all=tomato&limit=20",function(data,status){
    		suggestions = data.results;
    		//alert("Data: " + JSON.stringify(suggestions));
    		
  			 });
 			var counters=1;
 			for(var key in suggestions) {
			if(counters==1)
			{ var x={counters:suggestions[key].url}; 
			$("#suggestions span").html('<form action="/selected_value"><table style="width:60%" border="1"><tr><td style="word-wrap:break-word;width:20%;padding-left: 150px;"><b>Picture</b></td><td style="word-wrap:break-word;width:30%;padding-left: 150px;"><b>Title</b></td></tr>'+
			'<tr><td style="word-wrap:break-word;width:20%;padding-left: 100px;"><img src="'+suggestions[key].image+'"></td><td style="word-wrap:break-word;width:30%;"><a id="myLink" href="/selected_recipe?urls='+suggestions[key].url+'">'+
			suggestions[key].name+'</td></tr>'+
			'</table></form>'); counters++;}
			else {$("#suggestions span").append('<table style="width:60%" border="1"><tr><td style="word-wrap:break-word;width:20%;padding-left: 100px;"><img src="'+
			suggestions[key].image+'"></td><td style="word-wrap:break-word;width:30%;"><a id="myLink" href="/selected_recipe?urls='+suggestions[key].url+'">'+
			suggestions[key].name+'</td></tr></table>');} 

			

		    }
 			
 			
       }
var auto_refresh = setInterval(count, 2000);
count();
      
});



</script>

</head>
<body>
<header data-role="header">
<h1>Smart Cut Recipe Finder</h1>
</header>
<div>
<nav data-role="navbar">
		<ul>
			<li><a href="#" id="get_current">Current recipe</a></li>
			<li><a href="#" id="show_it">Previous recipes</a></li>
			<li><a href="#">Scan Your Bill</a></li>
		</ul>
</nav>
</div>


<div data-role="content" class="toshow" id="vegetables">
	<span></span>
</div>
	



<div data-role="content" class="toshow" id="content">
	
	<ul data-role="listview" data-filter="true">
	<table style="width:30%;" border="1">
	<tr><td style="word-wrap:break-word;width:70%;padding-left: 50px;"><b>Ingredient</b></td>
		<td style="word-wrap:break-word;width:30%;"><b>Weight (gms)</b></td>
	</tr>
	</table>
	<span></span>
	</ul>
</div>
<article>
<button type="button" id="button">Find</button>

</article>
<div data-role="content" id="suggestions">
<span></span>
</div>
</body>
</html>



